Content/Maps/Levels/Settore1_part2/* filter=lfs diff=lfs merge=lfs -text
Content/Maps/Levels/test_part1_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
Content/Maps/Levels/test_part2.umap filter=lfs diff=lfs merge=lfs -text
Content/Maps/Levels/LEVEL_IceMeshS_part2_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
Content/Maps/Levels/test_part2_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
Content/Maps/Levels/LightScenarios/SCENARIO_Anticamera.umap filter=lfs diff=lfs merge=lfs -text
Content/Maps/Levels/LightScenarios/SCENARIO_Arena.umap filter=lfs diff=lfs merge=lfs -text
Content/Maps/Levels/LightScenarios/SCENARIO_Settore.umap filter=lfs diff=lfs merge=lfs -text
Content/Maps/Levels/LightScenarios/SCENARIO_Anticamera_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
Content/Maps/Levels/LightScenarios/SCENARIO_Arena_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
Content/Maps/Levels/LightScenarios/SCENARIO_Settore_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text